.header__subtitle {
  margin: 0;
  align-items: flex-end;
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 6;
}