.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

/* HEADER */

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  z-index: 1;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
}

.header_place_logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 5;
}

.header__subtitle {
  align-items: flex-end;
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 6;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 4;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 3;
}

/* DISCRIPRION */

.discription {
  padding-top: 100px;
  margin: 0;
}

.two-columns {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* DIGITS */

.digits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;

}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  max-width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.table__cell {
  padding-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* FEYNMAN */

.feynman {
  position: relative;
  padding-top: 100px;
  height: 100vh;
  min-height: 637px;
  max-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* KAUFMAN */

.kaufman {
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  height: 100vh;
  min-height: 637px;
  max-height: 890px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  text-align: center;
  color: #fff;
}

.section-subtitle_theme_dark {
  text-align: center;
  color: #fff;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  color: #fff;
  z-index: 1;
}

/* FOOTER */

.footer {
  background-color: #1f1f1f;
  display: flex;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__columns {
  margin: 0 auto 0 auto;
  position: relative;
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 18px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__column_content_info {
  color: #fff;
  text-decoration: none;
  margin-bottom: 16px;
  flex-shrink: 2;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_social {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}

.footer__social-icon {
  background-size: contain;
  position: relative;
  margin-right: 10px;
  min-width: 16px;
  min-height: 16px;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}